
<h3> Log in </h3>
<%= form_tag create_session_path, :id => "login_form" do %>
	<div class = "label-container">
		<%= label_tag "Email:" %>
	</div>
	<%= email_field_tag "email",  "" %><br />
	<div class = "label-container">
		<%= label_tag "Password:"%>
	</div>
	<%= password_field_tag "password", "" %>
	<div id = "log_in" class = "btn green med form-submit"> Log in </div>

<% end %>


<h4> Don't have an account? Sign up: </h4>
<%= form_for(@user) do |f| %>
	<div id="error-container">
	    <ul>
	    <% @user.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	</div>
	<div class = "label-container">
		<%= f.label :email, "Email:" %>
	</div>
	<%= f.text_field :email %><br />
		<div class = "label-container">
	<%= f.label :password, "Password:"%>
			</div>
	<%= f.password_field :password %><br />
	<div class = "label-container">
		<%= f.label :password_confirmation, "Confirmation:"%>
	</div>
    <%= f.password_field :password_confirmation %> <br />
    <div id = "create_account" class = "btn green med form-submit"> Create Account</div>
<% end %>



