
	<h3> Log in </h3>
	<%= form_tag create_session_path do %>
		<div class = "label-container">
			<%= label_tag "Email:" %>
		</div>
		<%= email_field_tag "email",  "", :class => "text-input" %><br />
		<div class = "label-container">
			<%= label_tag "Password:"%>
		</div>
		<%= password_field_tag "password", "", :class => "text-input" %>
		<%= submit_tag "Log in", :class => "btn green med right" %>

	<% end %>


	<h4> Don't have an account? Sign up: </h4>
	<%= form_for(@user) do |f| %>
		<div id="error-container">
		    <ul>
		    <% @user.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		</div>
		<div class = "label-container">
			<%= f.label :email, "Email:" %>
		</div>
		<%= f.text_field :email,  :class => "text-input" %><br />
			<div class = "label-container">
		<%= f.label :password, "Password:"%>
				</div>
		<%= f.password_field :password, :class => "text-input" %><br />
		<div class = "label-container">
			<%= f.label :password_confirmation, "Confirmation:"%>
		</div>
	    <%= f.password_field :password_confirmation,  :class => "text-input"  %> <br />
	    <%= f.submit "Create Account", :id => :create_account, :class => "btn green med right" %>
	<% end %>



