 <h1 id="budge-title"> Budge </h1>

<div ng-controller="ExpensesCtrl">

    <% if current_user.nil? %>

		<div plot id="expense_chart"></div>

		<p> This is an example of what your expenses report could look like </p>

		<p> Click <%= link_to "Here", login_path %> to create an account and upload your own data. </p>

	<% else %>

	<div class='action-container'>

		<p> Enter your expenses below </p>

		<form id = "add_form" ng-submit="addExpense()">
			<div class = "label-container">
				<label> Amount: </label>
			</div>
			<input type="text"  ng-model="newExpense.amount">
			<div class = "label-container">
				<label> Date: </label>
			</div>
			<input type="text" class = "date-picker" ng-model="newExpense.expense_date">
			<div id = "add" ng-click="addExpense()" class = "btn green small"> Add </div>
		</form>

		<p> OR </p>

		<%= form_tag('/upload', multipart:true, id: 'upload') do %>
			<div id = "file_wrapper" class = "btn green med" >
				Choose a File
			</div>
			<%= file_field_tag "file", accept: 'text/csv' %>
		  and   
		<a id = "upload_link" href = '#' ng-click="upload()">Upload</a>
		<div>
				Statement Type:
			<%= select_tag(:statement_type, options_for_select([["Vancity Visa", "vancity_visa"], ["PC Mastercard", "pc_mastercard"]])) %>
		</div>
		<% end %>
	    <div id = "progress" class = "hidden">
	    	<%= image_tag 'spinner.gif', :id => 'progress_spinner'%>
	    	<span id = "progress_text"> 100% </span>
		</div>

		<br/>

		<div id = "file_name_container" class = "label-container hidden">
			<label> Filename: </label>
			<span id = "file_name"></span>
		</div>

	</div>

    <div class = "expense-container">
    	<div class = "expense header">
			<div class = "amount">Amount</div>
			<div class = "date"> Date </div>
			<div class = "delete"></div>
		</div>
		<div class = "expense" ng-repeat ="expense in expenses">
			<div class = "amount">{{expense.amount}}</div>
			<div class = "date"> {{expense.date | date:'shortDate'}} </div>
			<div class = "delete btn small green" ng-click="destroyExpense(expense)">Delete</div>
		</div>
	</div>

	<div plot id="expense_chart"></div>

	<% end %>			

</div>