
<%= form_tag (user_budgets_path, :method => :post) do %>
	<div class = "label-container">
		<%= label_tag "Type:" %>
	</div>
	<%= text_field_tag "type",  "", :class => "text-input" %><br />
	<div class = "label-container">
		<%= label_tag "Amount:"%>
	</div>
	<%= text_field_tag "amount", "", :class => "text-input" %>
	<%= submit_tag "Create Budget", :class => "btn green small right" %>

<% end %>
